@media screen and (max-width: 430px){
    .register-container{
        width: 100%;
    }

    .video-fitting{
        display: none;
    }

    .reg{
        min-width: 100%;
    }
}
.register-container {
  
    display: flex;
    height: 100%;
}

.register-link a{
    text-decoration: none;
    color: #009BE7; 
}

